name: deploy to prod
on:
  release:
    types: [published]

jobs:
  build_and_push:
    name: Build and Push
    runs-on: ubuntu-latest
    environment: prod
    permissions:
      contents: read
      packages: write
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: "${{ github.actor }}"
          password: "${{ secrets.GITHUB_TOKEN }}"

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ghcr.io/ismetkizgin/ai-thinks-cb-admin:latest, ghcr.io/ismetkizgin/ai-thinks-cb-admin:${{ env.RELEASE_VERSION }}
          platforms: linux/amd64
          build-args: |
            REACT_APP_AI_THINKS_CB_API_ENDPOINT=${{ vars.REACT_APP_AI_THINKS_CB_API_ENDPOINT }}
            REACT_APP_GOOGLE_RECAPTCHA_KEY=${{ vars.REACT_APP_GOOGLE_RECAPTCHA_KEY }}
            REACT_APP_AI_THINKS_CB_WEB_SOCKET_ENDPOINT=${{ vars.REACT_APP_AI_THINKS_CB_WEB_SOCKET_ENDPOINT }}
            REACT_APP_AI_THINKS_CB_STORAGE_ENDPOINT=${{ vars.REACT_APP_AI_THINKS_CB_STORAGE_ENDPOINT }}
            REACT_APP_AI_THINKS_CB_WEBHOOK_ENDPOINT=${{ vars.REACT_APP_AI_THINKS_CB_WEBHOOK_ENDPOINT }}

  deploy:
    runs-on: ubuntu-latest
    needs: build_and_push
    environment: prod
    name: Deploy to Prod
    steps:
      - name: Get Secrets
        uses: bitwarden/sm-action@v2
        with:
          access_token: ${{ secrets.BW_ACCESS_TOKEN }}
          base_url: https://vault.bitwarden.com
          secrets: |
            ${{ secrets.SERVER_HOST }} > AI_THINKS_CB_SERVER_HOST
            ${{ secrets.SERVER_USERNAME }} > AI_THINKS_CB_SERVER_USERNAME
            ${{ secrets.SSH_PRIVATE_KEY }} > AI_THINKS_CB_SSH_PRIVATE_KEY

      - name: Deploy version
        uses: fifsky/ssh-action@master
        with:
          host: ${{ env.AI_THINKS_CB_SERVER_HOST }}
          user: ${{ env.AI_THINKS_CB_SERVER_USERNAME }}
          key: ${{ env.AI_THINKS_CB_SSH_PRIVATE_KEY }}
          command: |
            cd /home/ubuntu/admin
            docker compose pull 
            docker compose up --force-recreate --build -d 
            docker image prune -f
